html,body{
  width: 100%;
  overflow-x: hidden;
}
.city{
  color: #fff;
  font-family: sans-serif;
}
.clockdate-wrapper {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   padding:150px 25px 25px 25px;
  height: 700px;
   width:100%;
   text-align:center;
   border-radius:5px;
   margin:0 auto;
 
}

#clock{
   font-family: sans-serif;
   font-size:30px;
   text-shadow:0px 0px 1px #fff;
   color:#fff;
}
#clock span {
   color:#888;
   text-shadow:0px 0px 1px #333;
   font-size:50px;
   position:relative;
   top:-5px;
   left:10px;
}
#date {
   letter-spacing:3px;
   font-size:14px;
   font-family:arial,sans-serif;
   color:#fff;
}